{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">
{% endblock %}

{% block title %}
    About | MindMorphosis
{% endblock %}`

{% block content %}
<div class="mission text-center">
    <h1>Our Mission & Vision</h1>
    <br>
    <br>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 mission-div text-center">
            <h3>Our Mission</h3>
            <p>"To make mental health support accessible, inclusive, and personalized for everyone, everywhere."</p>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 mission-div text-center">
            <h3>Our Vision</h3>
            <p>"A world where mental well-being is a priority, and everyone has the resources to thrive emotionally and mentally."</p>
        </div>
    </div>
</div>

<div class="story text-center">
    <h1>Our Story...</h1>
    <p>Mind Morphosis was born from a deeply personal place, inspired by a shared dream to make a meaningful difference in the lives of others. Witnessing the profound struggles of loved ones with mental health challenges ignited our passion for change. We recognized the urgent need for a space where everyone feels safe, understood, and empowered. Driven by a relentless commitment to compassion, we embarked on a journey to create a sanctuary for mental wellness—a platform that seamlessly integrates cutting-edge technology with the warmth of human connection. What started as a simple idea has evolved into a global movement, dedicated to transforming lives and making mental health support universally accessible.</p>
</div>

<div class="team text-center">
    <h1>Meet the Team</h1>
    <br><br>
    <div class="anantika text-start team-member">
        <h2><img src="{{url_for('static', filename='img/profiles/anantika.jpg')}}" alt="anantika" width="100"> Anantika</h2>
        <p>A visionary leader, has always dreamed of helping people and is now making that dream a reality as our Project Lead.</p>
    </div>
    <br>
    <div class="anushka text-start team-member">
        <h2><img src="{{url_for('static', filename='img/profiles/anushka.png')}}" alt="anushka" width="100"> Anushka</h2>
        <p>With her keen eye for design, heads our Product Development and User Engagement, ensuring our solutions are both innovative and user-friendly.</p>
    </div>
    <br>
    <div class="nishant text-start team-member">
        <h2><img src="{{url_for('static', filename='img/profiles/nishant.png')}}" alt="nishant" width="100"> Nishant</h2>
        <p>A strategic visionary, leads Strategy and Marketing, ensuring growth and strong community connections through his expertise in business, finance, and marketing.</p>
    </div>
    <br>
    <div class="sudarshan text-start team-member">
        <h2><img src="{{url_for('static', filename='img/profiles/sudarshan.png')}}" alt="sudarshan" width="100"> Sudarshan</h2>
        <p>With his deep love for coding and technology, drives our platform's technical innovation as our Tech Lead.</p>
    </div>
</div>
{% endblock %}