{% extends 'base.html' %}

{% block title %}
    Admin | MindMorphosis
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin.css')}}">
{% endblock %}

{% block content %}
    <!-- Delete User Modal -->
    <div class="modal fade" id="exampleModalDeleteUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete User</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <input type="hidden" name="deleteUser">
                        <input type="text" placeholder="Enter username to delete" name="user_delete" class="form-control">
                        <textarea name="user_delete_reason" id="user_delete_reason" class="form-control" style="margin-top: 1%;" rows="3" placeholder="Enter reason to delete user"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="info">
        <h1 class="text-center">Admin Page</h1>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h3>Users</h3>
                <div class="scrollable-table">
                    <table class="table table-light table-striped table-hover">
                        <thead>
                            <td>Username</td>
                            <td>Email</td>
                            <td>Phone</td>
                            <td>Join Date</td>
                            <td>Subscription</td>
                            <td>Subscription Expiry</td>
                        </thead>                    
                        {% for user in users %}
                            <tr>
                                <td>{{user.username}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.phone}}</td>
                                <td>{{user.join_date}}</td>
                                <td>{{user.subscription}}</td>
                                <td>{{user.subscription_expire}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <br>

                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalDeleteUser">Delete User</button>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h3>Sessions</h3>
                <div class="scrollable-table">
                    <table class="table table-light table-striped table-hover text-center">
                        <thead class="text-center">
                            <td>User</td>
                            <td>Session Date</td>
                            <td>Session Time</td>
                        </thead>
                        {% if session_exist == False%}
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        {% else %}
                            {% for session in sessions %}
                                <tbody>
                                    <td>{{session.session_user}}</td>
                                    <td>{{session.session_date}}</td>
                                    <td>{{session.session_time_start}} - {{session.session_time_end}}</td>
                                </tbody>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>

                <br>

                <button class="btn btn-danger">Delete Session</button>
            </div>
        </div>
    </div>
{% endblock %}