{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/contact.css')}}">
{% endblock %}

{% block title %}
    Help | MindMorphosis
{% endblock %}

{% block content %}
    <br>
    <!-- intro -->
    <form action="" method="post" enctype="multipart/form-data" class="text-center form">
        <h3>Contact Us</h3>
        <br>

        <input type="email" name="email" class="form-control" placeholder="Enter email address" required>

        <br>

        <textarea name="msg" id="msg" rows="5" placeholder="Enter your concern" style="width: 100%;" class="form-control"></textarea>

        <br>

        <button class="btn btn-primary">Submit</button>
    </form>

    <br>
    <br>
    <br>

    <div class="text-center">
        <a href="mailto: mindmorphosis.helpdesk@gmail.com" class="text-center">Want to talk to someone? Reach out via live chat or email</a>
    </div>

    <br>
    <br>
{% endblock %}