{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/education.css')}}">
{% endblock %}

{% block title %}
    Education | MindMorphosis
{% endblock %}`

{% block content %}
    <!-- education -->
    <div class="edu text-center">
        <h1>Education Modules</h1>

        <div class="card-group gap-4">
            <div class="card">
                <div class="card-header"><a href="" download="" style="text-decoration: none;">Mental Health Fundamentals <i class="fa-solid fa-file-arrow-down"></i></a></div>
                <div class="card-body">
                    <b>Understanding Mental Health</b><br>
                    Explore the basics of mental health, including the difference between mental health and mental illness, common mental health conditions, and the importance of emotional well-being.
                    <br>
                    <br>                        
                    <b>Signs & Symptoms</b><br>
                    Learn to recognize the signs and symptoms of various mental health challenges such as anxiety, depression, PTSD, and more.
                    <br>
                    <br>
                    <b>Self-Care Strategies</b><br>
                    Discover effective self-care practices, including tips on maintaining mental health, building a routine, and incorporating wellness activities into daily life.
                </div>
            </div>
            
            <div class="card">
                <div class="card-header"><a href="" download="" style="text-decoration: none;">Stress Management <i class="fa-solid fa-file-arrow-down"></i></a></div>
                <div class="card-body">
                    <b>Understanding Stress</b> <br>
                    Delve into the causes and effects of stress, and why it's important to manage it effectively.
                    <br>
                    <br>
                    <b>Stress Reduction Technique</b><br>
                    Learn about different stress reduction techniques such as deep breathing exercises, mindfulness, and progressive muscle relaxation.
                    <br>
                    <br>
                    <b>Building Resilience</b><br>
                    Strategies for developing resilience to stress, helping you to bounce back from adversity and maintain a balanced life.
                </div>
            </div>

            <div class="card">
                <div class="card-header"><a href="" download="" style="text-decoration: none;">Emotional Intelligence <i class="fa-solid fa-file-arrow-down"></i></a></div>
                <div class="card-body">
                    <b>Understanding Emotions</b> <br>
                    A deep dive into the role of emotions in our lives, how to identify and understand them, and the impact they have on decision-making and relationships.
                    <br>
                    <br>
                    <b>Developing Empathy</b><br>
                    Learn how to cultivate empathy and emotional awareness, improving your relationships with others and enhancing your emotional intelligence.                        <br>
                    <br>
                    <b>Emotional Regulation</b><br>
                    Techniques for managing intense emotions, including anger, sadness, and anxiety, to maintain emotional balance.                    </div>
            
                </div>
            </div>
        </div>
    </div>
{% endblock %}