{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/forum.css')}}">
{% endblock %}

{% block title %}
    Forum | MindMorphosis
{% endblock %}`

{% block content %}
    <br>
    <h1 class="headings">Join the forum and type a message!</h1>
    
    <div class="msgs">
        {% for msg in msgs %}
            <div class="exist-msg" style="width: 100%; margin-top: 2%;">
                {% if msg.msg_user == None %}
                    <small>deleted_user</small>
                {% else %}
                    <small>{{msg.msg_user}}</small>
                {% endif %}
                
                <br>
                <h5>{{msg.msg}}</h5>
            </div>
        {% endfor %}
        <br>
        <br>
    </div>

    <form method="post" class="msg-form" autocomplete="off">
        <div class="row" id="form-row">
             <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8">
                <input type="text" name="msg" id="msg" placeholder="Type a message" class="form-control">
             </div>
             <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                <button type="submit" class="btn btn-primary" id="enter-msg">Enter</button>
             </div>
        </div>
    </form>
{% endblock %}

{% block js %}
    <script src="{{url_for('static', filename='js/forum.js')}}"></script>
{% endblock %}