{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
{% endblock %}

{% block title %}
    Home | MindMorphosis
{% endblock %}

{% block content %}
    <!-- intro -->
    <div class="intro">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 img">
                <img src="{{url_for('static', filename='img/home_bg.jpg')}}" alt="meeting">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text text-center">
                <h1>Welcome To Your Safe Space</h1>
                <h3>Where Every Mind Matters</h3>
                <br>
                <a href="{{url_for('services')}}" class="btn">Services</a>
                <a href="{{url_for('subscription')}}" class="btn">Subscribe</a>
            </div>
        </div>
    </div>
{% endblock %}