{% extends 'login_layout.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <form action="" method="post">
        <h2>Login</h2>
        {{form.hidden_tag()}}

        {{form.credential(class="form-control", placeholder="Username")}}

        <br>

        {{form.pwd(class="form-control", placeholder="Password")}}

        <br>

        <a href="{{url_for('register')}}" class="btn btn-dark btn-sm">Register if you don't have an account.</a>

        <br>
        <br>

        {{form.submit(class="btn btn-primary")}}
    </form>
{% endblock %}