{% extends 'base.html' %}

{% block title %}
    Your Profile | MindMorphosis
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/profiles.css')}}">
{% endblock %}

{% block content %}
    <br>

    <h2 class="headings">User Stats</h2>

    <br>

    <div class="card-group gap-4">
        <div class="card">
            <div class="card-body">
                Username
                <br>
                <b>{{user_details.username}}</b>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                Email Address
                <br>
                <b>{{user_details.email}}</b>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                Join Date
                <br>
                <b>{{user_details.join_date}}</b>
            </div>
        </div>
    </div>

    <br>

    <div class="card-group gap-4">
        <div class="card">
            <div class="card-body">
                <h5>Subscriptions</h5>
                {% if user_details.subscription != "No subscriptions subscribed for now" %}
                    <table class="table table-light table-hover">
                        <thead>
                            <td>Subscription Plan</td>
                            <td>Expiring</td>
                        </thead>
                        <tr>
                            <td>{{user_details.subscription}}</td>
                            <td>{{user_details.subscription_expire}}</td>
                        </tr>
                    </table>
                {% else %}
                    <p>{{user_details.subscription}}</p>
                {% endif %}
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5>Sessions</h5>
                {% if user_details.sessions != "No sessions booked for now" %}
                    <table class="table table-light table-hover">
                        <thead>
                            <td>Session Date</td>
                            <td>Session Time (Start)</td>
                            <td>Session Time (End)</td>
                        </thead>
                        <tr>
                            <td>{{user_details.session.session_date}}</td>
                            <td>{{user_details.session.time_start}}</td>
                            <td>{{user_details.session.time_end}}</td>
                        </tr>
                    </table>

                {% else %}
                    <p>{{user_details.sessions}}</p>
                {% endif %}
            </div>
        </div>
    </div>

    <br>
    <br>

    <h2 class="headings">Account Centre</h2>
    <br>
    <div class="row text-start" style="width: 97%; margin-left: 3%;">
        <div class="col">
            <p>Change Details</p><br>
            <p>Delete Account</p>
        </div>
        <div class="col">
            <button class="btn btn-success acc-cen-btn">Change</button>
            <br><br>
            <form action="" method="post">
                <button class="btn btn-danger acc-cen-btn" type="submit">Delete</button>
            </form>
        </div>
    </div>

    <br>
    <br>
    <br>

    <!-- {{user_details.subscription}}
    {{user_details.sessions}} -->
{% endblock %}