{% extends 'login_layout.html' %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <form action="" method="post" class="form">
        <h2>Register</h2>
        {{form.hidden_tag()}}
        <input type="hidden" name="register">

        {{form.username(class="form-control", placeholder="Username")}}
        <div class="form-text">Must be at least 3 characters long and at most 30 characters</div>

        <br>

        {{form.email(class="form-control", placeholder="Email")}}
        <div class="form-text">Valid email must be entered</div>

        <br>

        {{form.pwd(class="form-control", placeholder="Password", type="password")}}
        <div class="form-text">Password is required for your account</div>

        <br>

        {{form.pwd_confirm(class="form-control", placeholder="Confirm Password", type="password")}}
        <div class="form-text">Must be equal to password</div>

        <br>
        
        <a href="{{url_for('login')}}" class="btn btn-dark btn-sm">Login if you have an account</a>

        <br>
        <br>

        {{form.submit(class="btn btn-primary")}}
    </form>
{% endblock %}