{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/services.css')}}">
{% endblock %}

{% block title %}
    Services | MindMorphosis
{% endblock %}`

{% block content %}
    <!-- services -->
    <div class="services text-center">
        <h1>Our Services</h1>
        <br>
        <div class="card-group gap-4" style="width: 100%;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-header">Teletherapy Services</h5>
                    <br>
                    <p class="card-text">Video <br>Phone <br>Text</p>
                    <hr>
                    <p>Profiles of licensed therapists: <br>Meet our team of experienced, licensed professionals who are here to support you.</p>
                    <hr>
                    <a href="" class="btn btn-primary">Book Now</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-header">Peer Support Networks</h5>
                    <br>
                    <p>Explanation: <br>Connect with others who understand what you're going through. Our peer support networks offer a space to share experiences, offer advice, and find comfort in community.</p>
                    <hr>
                    <p>Guidelines for participation: <br>Our forums are a safe space for sharing and connecting. Please respect others' privacy and maintain a supportive tone.</p>
                    <hr>
                    <p>How to join or become a peer supporter? <br>Interested in joining a support group? Or perhaps you'd like to help others by becoming a peer supporter? Sign up here</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}