{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/subscription.css')}}">
{% endblock %}

{% block title %}
    Home | MindMorphosis
{% endblock %}`

{% block content %}
    <!-- plans -->
    <div class="plans text-center">
        <h2 style="font-family: 'Lato', sans-serif;">Available Plans & Features</h2>
        <h4 style="font-family: 'Lato', sans-serif;">Choose a plan that fits your needs: Monthly, Quarterly, or Annual subscriptions available.</h4>
        <br>
        <div class="card-group gap-4">
            <div class="card">
                <div class="card-header">Freemium Model</div>
                <div class="card-body">
                    <b>Overview</b>
                    <p>Enjoy free access to basic features, with premium options available for those seeking more in-depth support.</p>
                    <br>
                    <b>Premium Features</b>
                    <p>Unlock advanced tools like guided journalin, exclusive content, and more with our premium subscription.</p>
                    <a href="" class="btn btn-dark">Subscribe</a>
                </div>
            </div>

            <div class="card">
                <div class="card-header">Subscription Plans</div>
                <div class="card-body">
                    <b>Basic Plan</b>
                    <p>Access to core features like few mindful challenges, playlists and peer support.</p>
                    <br>
                    <b>Premium Plan</b>
                    <p>Includes teletherapy sessions, guided journaling, and more</p>
                    <a href="" class="btn btn-dark">Subscribe</a>
                </div>
            </div>

            <div class="card">
                <div class="card-header">Pay Per Session</div>
                <div class="card-body">
                    <b>How to book and pay?</b>
                    <p>Need a one-time session? Book a teletherapy session as you need it, without committing to a subscription.</p>
                    <br>
                    <a href="" class="btn btn-dark">Book Now</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}