{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/terms.css')}}">
{% endblock %}

{% block title %}
    Terms & Conditions | MindMorphosis
{% endblock %}`

{% block content %}
    <!-- terms -->
    <div class="terms text-center">
        <h1>TERMS & CONDITIONS</h1>
        <hr style="border: 2px solid;">
        <h2>Privacy Policy</h2>
        <p>At Mind Morphosis, we prioritize your privacy and are committed to protecting your personal information. We collect personal data, usage data, and health information to provide and improve our services. Your data is secured with robust measures, and we do not share it with third parties without your consent, except as necessary for service provision or legal compliance. You can access, update, or delete your data anytime. We may update this policy, and significant changes will be communicated to you. Contact us at [contact email] with any questions.</p>
        <hr style="border: 2px solid;">
        <h2>Terms of Service</h2>
        <p>By using Mind Morphosis, you agree to these terms, which govern your access and use of our services. You must be 18 or older to use the platform and are responsible for your account's security. We offer various mental health services, and while we strive for accuracy, we do not guarantee the efficacy of any particular service. Payment is required for certain services, and fees are clearly stated. We may suspend or terminate accounts for violations. These terms are governed by Indian law, and any disputes will be resolved under its jurisdiction. Updates to these terms will be communicated through the platform.</p>
        <hr style="border: 2px solid;">
        <h2>Cookies Policy</h2>
        <p>Mind Morphosis uses cookies to enhance your experience and analyze site usage. Cookies are small text files stored on your device, enabling the website to remember your preferences. We use essential, performance, functionality, and targeting cookies. You can manage or disable cookies via your browser settings, though this may impact site functionality. We may update this policy as needed and will notify you of significant changes. For inquiries, contact us at <a href="mailto: yourmindmorphosis@gmail.com">yourmindmorphosis@gmail.com</a>.</p>
    </div>
{% endblock %}