{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/tranquility.css')}}">
{% endblock %}

{% block title %}
    Tranquility | MindMorphosis
{% endblock %}`

{% block content %}
    <!-- playlists -->
    <div class="playlists text-center">
        <h2><i class="fa-regular fa-circle-play"></i> Music</h2>
        <br>
        <br>
        <a href="" class="btn music-categories"><i class="fa-solid fa-bolt"></i> Energizing Beats</a><br><br>
        <a href="" class="btn music-categories"><i class="fa-solid fa-heart"></i> Relaxing Melodies</a><br><br>
        <a href="" class="btn music-categories"><i class="fa-solid fa-person-rays"></i> Focus Tracks</a><br><br>
        <a href="" class="btn music-categories"><i class="fa-solid fa-moon"></i> Sleep Sounds</a><br><br>
    </div>

    <br>
    <br>

    <!-- challenges -->
    <div class="challenges text-center">
        <h2><i class="fa-solid fa-bars-progress"></i> Mindfullness and Meditation Challenges</h2>
        <br>
        <a href="">
            <div>
                <h4>Daily Challenges and Their Benefits</h4>
                <br>
                <p>Start your day with a new mindfulness challenge. From guided meditations to gratitude journaling, these challenges are designed to help you cultivate a peaceful mind.</p>
            </div>
        </a>
    </div>

    <br>

    <!-- journal -->
    <div class="journal text-center">
        <h2><i class="fa-solid fa-book"></i> Guided Journaling</h2>
        <br>
        <br>
        <div class="text-center" style="margin-left: auto;">
            <a href="">
                <div class="journal-div">
                    <h5>Daily Prompts</h5>
                    <p>Explore your thoughts and emotions with our daily journaling prompts, designed to guide you on a journey of self-discovery and mental clarity."</p>
                </div>
            </a>

            <br>

            <a href="">
                <div class="journal-div">
                    <h5>Tips for Effective Journaling</h5>
                    <p>"Learn how to journal effectively with our tips and tricks, ensuring that each session is meaningful and transformative."</p>
                </div>
            </a>
        </div>
    </div>
{% endblock %}